.choose-box__line{
  width: 760px;
 height: 2px;
 background-color: #FDD6BA;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.span:nth-child(1){
  border-radius: 50%;
  border: 1px solid $secondary-color;
  width: 15px;
  height: 15px;
  position: absolute;
  left:-7px;
}
.span:nth-child(2){
  border-radius: 50%;
  border: 1px solid $secondary-color;
  width: 15px;
  height: 15px;
  position: absolute;
left: 380px;
}
.span:nth-child(3){
  border-radius: 50%;
  border: 2px solid $secondary-color;
  width: 15px;
  height: 15px;
  position: absolute;
right: -7px;
}
.choose{
 background-color: $main-color;
 padding-left: 80px;
 padding-top: 91px;
 padding-bottom: 107px;
}

.create-content__list{
  max-width: 283px;
  h2{

    @include title-style;
    color: #FDD6BA;
    margin-top: 67px;
    padding-bottom: 38px;
  }
h3{
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
font-family: $font;
  color: #FEFCF7;
  max-width: 255px;
  padding-bottom: 32px;
}
p{
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
}
}
 .create-content__list + .create-content__list{
  margin-left: 97px;
 }
.create-content{
  display: flex;
}