
.order-box{
  margin-left: auto;

  max-width: 720px;
  padding: 27px 64px;
  background-color: $main-color;
  margin-bottom: 40px;
  border-radius: 8px;
  margin-top: 88px;
}
.order__title{
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
opacity: 0.5;

}
.order__text{
  font-weight: 900;
font-size: 24px;
line-height: 40px;
font-family: $font;
color: #FFFFFF;
}
.change{
  color: #0E8784;

}
.button_link{
  font-weight: 900;
font-size: 18px;
line-height: 25px;
font-family: $font;
color: #FEFCF7;
background: #0E8784;
border-radius: 6px;
padding: 16px 35px;
display: inline-block;

}
.buttun1{
  text-align: end;
}

@media screen and (max-width:851px) {
  .buttun1{
    text-align: center;
  }
  
  .order-title{
    margin-left: 14px;
  }

.order-box{

  padding: 27px 30px;
}
}



@media screen and (max-width:405px){
 .order__text{
  max-width: 250px;
 }
}